@model Board_game_sleeves.Models.CardType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CardType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.xSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
