@model Board_game_sleeves.ViewModel.ProductListViewModel
@using Board_game_sleeves.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CardType            
        </th>
        <th>
            Price            
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ImageUrl
        </th>
        <th>
            Color
        </th>
        <th>
            Material
        </th>
        <th></th>
    </tr>

@foreach (Product item in Model.Products) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
