@model Board_game_sleeves.Models.Customer

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Your information</h4>
        
       

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-12 input-field">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
            
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

        </div>
        <div class="col-12 input-field">
            @Html.LabelFor(model => model.LastNAme, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.LastNAme, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastNAme, "", new { @class = "text-danger" })
        </div>

        <div class="col-12 input-field">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "" })

                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="col-12 input-field">
                @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "" })

                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
        </div>
        
        
                <h4 class="shipping-info">Shipping info</h4>

        
            <div class="col-12 input-field">
                @Html.LabelFor(model => model.BillingAddress.Street)
                @Html.TextBoxFor(model => model.BillingAddress.Street)
                @Html.ValidationMessageFor(model => model.BillingAddress.Street, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 input-field">
                @Html.LabelFor(model => model.BillingAddress.City)
                @Html.TextBoxFor(model => model.BillingAddress.City)
                @Html.ValidationMessageFor(model => model.BillingAddress.City, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 input-field">
                @Html.LabelFor(model => model.BillingAddress.Zip)
                @Html.TextBoxFor(model => model.BillingAddress.Zip)
                @Html.ValidationMessageFor(model => model.BillingAddress.Zip, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 input-field">
                @Html.LabelFor(model => model.BillingAddress.Contry)
                @Html.TextBoxFor(model => model.BillingAddress.Contry)
                @Html.ValidationMessageFor(model => model.BillingAddress.Contry, "", new { @class = "text-danger" })
            </div>
            <div class="submit-form">
                <input class="" type="submit" value="Create" />
            </div>
        </div>



            
        
}